html, body{
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    height: 100%;
    }

    /*login-screen*/
login-screen {
    height: 100%;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #428bca;
}

.login-form button {
    margin: auto;
}
input[type="password"] {
    font:small-caption;
    font-size:16px;
}

/*top-nav*/
.col-md-1 .navbar-header{
  float:left;
  margin-bottom: 0;
}

/*nav-sidebar*/
.nav-button{
  padding-left: 0;
}

.glyphicon.glyphicon-star{
  color: #337ab7;
}
.col-md-3.icon{
  text-align: center;
  padding-right: 0;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

  .sidebar {
    display: none;
    top: 0;
    width: 27%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    background-color: #EEEEEE;
    border-right: 1px solid #eee;
  }


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-size: 20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li > .col-md-9 > .active ,
.nav-sidebar > li > .col-md-9 > .active:hover,
.nav-sidebar > li > .col-md-9 > .active:focus {
  color: #fff;
  background-color: #428bca;
}
.sidebar-container {
  position: fixed;
  transition: width 0.5s linear;
}
.sidebar-container.ng-hide {
  width: 0;
}

/*
 * Main content dashboard
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
