<div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.isError401">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> Wrong username or password.
</div>
<form class="input-group well well-lg login-form" ng-submit="$ctrl.submit()">
    <input type="text" class="form-control" placeholder="username" autofocus ng-model="$ctrl.username" required><br>
    <input type="password" class="form-control" id="password" placeholder="password" ng-model="$ctrl.password"><br>
    <button type="submit" class="btn btn-default" id="submit-button">Log in</button>
</form>